.chat-area {
	flex-grow: 1;
	position: relative;
}

.messages {
	padding: 0.5rem 1.3rem;
	max-height: calc(100vh - 116px);
	overflow-y: auto;
	overflow-x: hidden;
	margin-inline: 0.2rem;
}

.chat-area:has(.send-message .media-viewer) .messages {
	max-height: calc(100vh - 316px);
}

.messages::-webkit-scrollbar {
	width: 8px;
	display: none;
}

.messages::-webkit-scrollbar-thumb {
	background-color: #1a1b1e;
	border-radius: 4px;
}

.messages::-webkit-scrollbar-track {
	background-color: #2b2d31;
}

.messages:hover {
	padding-right: 0.8rem;
}

.messages:hover::-webkit-scrollbar {
	display: block;
}

/* For Firefox */
@-moz-document url-prefix() {
	.messages {
		scrollbar-width: thin;
		scrollbar-color: var(--dark) transparent;
	}

	.messages:hover {
		padding-right: 0;
	}

	.messages:hover::-moz-scrollbar-thumb {
		background-color: var(--dark);
	}

	.messages:hover::-moz-scrollbar-track {
		background-color: transparent;
	}
}

.message {
	color: #fff;
	width: fit-content;
	padding: 0.5rem;
	border-radius: 6px;
	margin-bottom: 4px;
	position: relative;
	z-index: 1;
	display: flex;
	gap: 0.4rem;
	max-width: calc(100% - 5rem);
}

.message.after::after {
	content: "";
	position: absolute;
	bottom: 0;
	border-width: 10px;
	border-style: solid;
	z-index: 0;
	border-radius: 2px;
}

.send.message.after::after {
	right: -9px;
	border-color: transparent transparent var(--active) transparent;
}

.received.message.after::after {
	left: -9px;
	border-color: transparent transparent var(--dark) transparent;
}

.send.message {
	background: var(--active);
	margin-left: auto;
}

.received.message {
	background: var(--dark);
}

.message-meta {
	display: flex;
	position: relative;
	width: 22px;
	align-self: flex-end;
}

.send.message .message-meta {
	width: 40px;
}

.absolute {
	position: absolute;
	display: flex;
	bottom: -5px;
	gap: 0.25rem;
}

.message-meta span.timestamp {
	font-size: 0.6875rem;
	align-self: flex-end;
	color: var(--primary-color);
}

.receipt {
	color: #ffffff80;
}

.receipt.read {
	color: #53bdeb
}

.receipt svg {
	height: 10px;
}

.orderby-date {
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 2;
	margin-block: 1rem;
}

.date {
	padding: 0.3rem 1rem;
	font-size: 12px;
	background: var(--dark-secondary);
	border-radius: 20px;
	text-align: center;
}

.messages-holder {
	position: relative;
}

.group .message-holder:has(.send) {
	flex-direction: row-reverse;
}

.group .message-holder {
	display: flex;
	gap: 1rem;
	align-items: flex-end;
}

.group .message-holder:has(.received.message) {
	margin-inline: 3rem;
}

.group .profile-pic {
	margin-inline: -3rem;
}

.group .sender-name {
	position: absolute;
	top: -12px;
	background: var(--dark-secondary);
	color: var(--primary-color);
	width: 100%;
	left: 0;
	font-size: 12px;
	font-weight: 600;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 0px 6px;
	z-index: 0;
}

.group .message.received.after {
	margin-inline: 3rem;
}

.friends-list_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.friends-list_item_info {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.chat-area .channel-list_item {
	margin-right: 8px;
}

.message:has(.message-image) {
	flex-direction: column;
	align-items: flex-end;
}

.message-image {
	width: 150px;
	height: 200px;
	object-fit: cover;
	background: var(--accent);
}

.message-link {
	color: var(--link-color);

	&:hover {
		text-decoration: underline;
	}
}

.message:has(.site-info) {
	flex-direction: column;
}

.messages-holder {
	position: relative;
	height: 100%;
}

.view-file {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(2px);
	z-index: 5;
}

.view-file img,
.view-file video {
	max-width: 100%;
	max-height: 100%;
}

.view-file .close-modal {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: none;
	display: flex;
}

.view-file .close-modal svg.closeIcon-pSJDFz path {
	fill: var(--hover-text);
}

.message:has(.file-link) {
	flex-direction: column;
}

.message .file-link {
	display: flex;
	flex-direction: column;
}

.file-thumb-holder {
	position: relative;
}

.file-download {
	position: absolute;
	color: var(--white);
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(.5px);
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.message .file-thumb-holder .file-thumb {
	height: 100px;
	width: 200px;
	object-fit: cover;
	object-position: top;
}

.file-name {
	display: flex;
	gap: 0.5rem;
	height: 34px;
	align-items: center;
	margin-top: 0.5rem;
}

.file-name .icon {
	display: flex;
	align-items: center;
}

.file-name .icon img {
	height: 30px;
}

.file-name .file-download {
	position: relative;
	background: none;
	color: var(--hover-text);
}

.messages-holder .messages .message.highlight {
	color: #ffff99;
}

/* CSS styles for currently displayed search result */
.messages-holder .messages .message.current-result {
	color: tomato;
}

.message-content span {
	display: inline-block;
	align-items: center;
	white-space: break-spaces;
	overflow-wrap: break-word;
}

.message-content {
	width: calc(100% - 21px);
	white-space: break-spaces;
	overflow-wrap: break-word;
	flex: 1;
}

.message-content span img {
	position: relative;
	top: 6px;
}

.date.no-results {
	color: tomato;
	border-radius: inherit;
	background-color: var(--dark);
}