.input-holder.d-flex {
	position: relative;
}

.send-message {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
}

.send-message input,
.rendered-message {
	display: flex;
	font-family: var(--font-display);
	align-items: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-indent: 0px;
	vertical-align: baseline;
	word-break: break-word;
	color: rgb(219, 222, 225);
	padding: 0.5rem 1rem;
	background-color: var(--active);
	padding-left: 2rem;
	width: 100%;
}

.rendered-message:focus-visible {
	outline: none;
	border: none;
}

.send-message button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	color: rgb(219, 222, 225);
}

.send-message .send-btn {
	height: 30px;
	border-radius: 30px;
	background: var(--accent);
	width: 46px;
	right: 5px;
}

input.attach-items,
.upload-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 24px;
	width: 24px;
	padding: 0;
	border-radius: 50%;
	left: 3px;
}

.send-message input.attach-items {
	opacity: 0;
	z-index: 2;
	cursor: pointer;
}

.send-message button .svg {
	fill: var(--dark);
	text-shadow: white;
}

.one,
.two,
.three {
	fill: var(--primary-color);
}

.media-viewer {
	height: 200px;
	width: 100%;
	padding: 0.5rem;
	background: var(--active);
	border-bottom: 1px solid var(--dark);
	z-index: 2;
	position: relative;
	display: flex;
	gap: 0.5rem;
}

.media-viewer img,
.media-viewer video {
	height: 100%;
	width: 184px;
	object-fit: cover;
}

.media-holder {
	position: relative;
}

.media-name {
	position: absolute;
	bottom: 0;
	height: auto;
	width: 100%;
	padding: 0.5rem;
	background: rgba(0, 0, 0, .7);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.right {
	position: absolute;
	right: 0.25rem;
	display: flex;
	align-items: center;
	height: 100%;
	width: 94px;
	z-index: 2;
}

button.emoji-selector {
	height: 100%;
}

.emoji-selector svg {
	width: 38px;
}

aside.EmojiPickerReact.epr-main {
	position: absolute !important;
	right: 0;
	bottom: 100%;
	z-index: 5;
	max-height: 375px;
	width: 360px !important;
}