.video-call-container {
  position: absolute;
  height: 50%;
  width: 100%;
  inset: 0;
  z-index: 6;
}

.videos-container {
  width: 100%;
  background: var(--accent);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .3em;
}

.video-holder,
.video-holder video {
  position: relative;
  background: #000;
  width: 100%;
  place-self: end;
  aspect-ratio: 16/9;
  object-fit: cover;
  vertical-align: middle;
  max-height: 242px;
}

.video-holder.peer {
  place-self: start;
}

.video-muted-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-controls {
  display: flex;
  height: 46px;
  background-image: linear-gradient(-45deg, transparent, rgba(0, 0, 255, .2), transparent);
  color: aliceblue;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
}

.video-controls .icon-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  justify-content: center;
}

.video-controls .icon-wrapper svg path {
  fill: aliceblue;
}

.video-controls .icon-wrapper.muted {
  background: tomato;
}